@import "tailwindcss";

.bg-primary {
  background-color: #293b2b;
}
.bg-secondary {
  background-color: #dde7d9;
}
.bg-third {
  background-color: #eff0e8;
}
.bg-fourth {
  background-color: #fff8f0;
}

.bg-input {
  background-color: #dde3db;
}

.font-color-primary {
  color: #53300a;
}

.font-color-secondary {
  /* color: #fff8f0; */
  color: #fcf6ea;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(169, 175, 157, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px; /* กำหนดความกว้างของ scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #293b2b; /* สีของ scrollbar */
  border-radius: 10px; /* ทำให้ scrollbar มีขอบมน */
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.fadeInLeft {
  opacity: 0;
  -webkit-animation: fadeInLeft 0.8s forwards;
  animation: fadeInLeft 0.8s forwards;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* ImageSlider.css */
.swiper-button-next,
.swiper-button-prev {
  color: bg-primary; /* เปลี่ยนสีลูกศรเป็นสีเขียว */
  top: 50%; /* ตำแหน่งตรงกลางรูป */
  transform: translateY(-50%);
}

.swiper-button-next {
  right: -40px; /* ขยับออกจากรูป */
}

.swiper-button-prev {
  left: -40px; /* ขยับออกจากรูป */
}
