@import "tailwindcss";

.bg-primary {
  background-color: #293b2b;
}
.bg-secondary {
  background-color: #dde7d9;
}
.bg-third {
  background-color: #eff0e8;
}
.bg-fourth {
  background-color: #fff8f0;
}

.bg-input {
  background-color: #dde3db;
}

.font-color-primary {
  color: #293b2b;
}

.font-color-secondary {
  color: #fff8f0;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(169, 175, 157, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.font-header {
  font-size: 48px;
  font-weight: 700;
  font-family: "Inknut Antiqua", serif;
}

.font-title {
  font-size: 36px;
  font-weight: 500;
  font-family: "Inknut Antiqua", serif;
}

.font-button {
  font-size: 24px;
  font-weight: 500;
  font-family: "Inria Serif", serif;
}

.font-subtitle {
  font-size: 24px;
  font-weight: 700;
  font-style: italic;
  font-family: "Inknut Antiqua", serif;
}

.font-caption {
  font-size: 24px;
  font-weight: 400;
  font-style: italic;
  font-family: "Inria Serif", serif;
}

.font-body {
  font-size: 20px;
  font-weight: 400;
  font-style: normal !important;
  font-family: "Inria Serif", serif;
}

.font-body-bold {
  font-size: 20px;
  font-weight: 700;
  font-family: "Inria Serif", serif;
}

.font-menu {
  font-size: 20px;
  font-weight: 400;
  font-family: "Inria Serif", serif;
}

.font-sub-menu {
  font-size: 16px;
  font-weight: 400;
  font-family: "Inria Serif", serif;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px; /* กำหนดความกว้างของ scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #293b2b; /* สีของ scrollbar */
  border-radius: 10px; /* ทำให้ scrollbar มีขอบมน */
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.fadeInLeft {
  opacity: 0;
  -webkit-animation: fadeInLeft 0.8s forwards;
  animation: fadeInLeft 0.8s forwards;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* ถ้าหน้าจอเล็กกว่า 640px (sm) ให้เป็น 14px */
@media (max-width: 639px) {
  .font-body,
  .font-body-bold,
  .font-sub-menu {
    font-size: 14px;
  }
  .font-header {
    font-size: 36px;
  }
  .font-title {
    font-size: 24px;
  }
  .font-subtitle,
  .font-caption {
    font-size: 18px;
  }
  .font-button {
    font-size: 20px;
  }
}
